<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <!--Menu de las categorias-->
        <section th:replace="~{pruebas/fragmentos :: categoriasTabs}"/>
        <!--Tabla de los productos-->
        <section th:replace="~{pruebas/fragmentos :: listadoProductos}"/>

        <footer th:replace="~{layout/plantilla :: footer}"/>      
      
    </body>
</html>